@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('style.css');


p {
    font-size: 18px;
}


/* Landing Page */
#landing {
    height: 75vh;
}

h3 {
    margin-bottom: 5%;
}

.textbox p {
    color: #001;
}

.description {
    margin-bottom: 10%;
}

.price {
    margin-bottom: 5px;
}

.textbox button {
    width: 35%;
    background-color: #001;
    color: #F1EEE9;
}

.productsum-button {
    width: 20%;
}

.productsum-button .amount {
    width: 50%;
    border: #001;
    border-style: solid;
    border-width: 2px;
}

.productsum-button .amount .button {
    justify-content: center;
    align-items: center;
}

.textbox-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.adjusment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.adjustment-md {
    display: none;
}


.adjust-input {
    display: flex;
    flex-direction: column;
}

.adjust-item {
    margin-bottom: 10%;
}

.adjust-item input {
    opacity: 0;
}

.checkmark {
    padding: 40px;
    background-color: #eee;
    border: #001;
}

.contact {
    position: fixed;
    left: 95%;
    top: 30vh;
    display: flex;
    width: 10%;
    flex-direction: column;
}

.contact a img {
    width: 30px;
    margin: 20px 0px;
}






@media screen and (max-width:992px) {

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
        letter-spacing: 0.1em;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
    }

    .navbar-brand img {
        width: 70%;
    }

    .nav-right .navbar-nav .nav-item a {
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 14px;
    }

    .nav-left .navbar-nav .nav-item a {
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 14px;
    }

    .banner {
        margin-top: 10px;
    }

    .content {
        margin-top: 5px;
    }

    .imgbox img {
        width: 30%;
        margin-bottom: 5%;
    }

    .textbox h2 {
        margin-bottom: 5%;
    }

    .description {
        margin-bottom: 10%;
    }

    .textbox-button {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .adjusment {
        display: none;
    }

    .adjustment-md {
        display: flex;
        flex-direction: column;
        margin: 30px 0px;
    }

    .input-group {
        margin: 5px 0px;
        background-color: #001;
        color: #F1EEE9;
        border-radius: 10px;
    }

    .input-group-text {
        background-color: #001;
        color: #F1EEE9;
    }

    .form-select {
        background-color: #F1EEE9;
        color: #001;
    }

    .bottle-input label {
        padding: 0px 40px;
    }

    .size-input label {
        padding: 0px 53px;
    }

    .shots-input label {
        padding: 0px 20px;
    }

    .contact {
        left: 90%;
    }

    .contact a img {
        width: 25px;
    }
}
