@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F1EEE9;
}
h2{
    font-size: 70px;
}

h3{
    font-size: 50px;
}   

p{
    letter-spacing: 0.1rem;
    font-size: 18px;
}


/* Navigation Bar */

header{
    height: 15vh;
}

.navbar{   
    margin : 10px 0px;
}

.nav-right .navbar-nav .nav-item{
    margin: 0px 30px;
}

.nav-right .navbar-nav .nav-item a{
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #001;
}


.nav-left .navbar-nav .nav-item{
    margin: 0px 40px;
}

.nav-left .navbar-nav .nav-item a{
    letter-spacing: 0.1em;
    color: #001;
    font-weight: 600;
}

/* Landing Page */
#landing{
    height: 75vh;
}

.container{
    align-items: center;
}

.banner{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.content{
    justify-content: center;
    align-items: center;
}

h3{
    margin-bottom: 5%;
}

.textbox p{
    color: #001;
    margin-bottom: 10%;
}

.textbox button{
    font-size: 14px;
    padding: 10px 70px;
    background-color: #001;
    color: #F1EEE9;
    border: none;
}

.adjusment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.adjustment-md{
    display: none;
}


.adjust-input{
    display: flex;
    flex-direction: column;
}

.adjust-item{
    margin-bottom: 10%;
}

.adjust-item input{
    opacity: 0;
}

.checkmark {
    padding : 40px;
    background-color: #eee;
    border: #001;
  }

.contact {
    position: fixed;
    left: 95%;
    top : 30vh;
    display: flex;
    width: 10%;
    flex-direction: column;
}

.contact a img {
    width: 30px;
    margin : 20px 0px;
}






@media screen and (max-width:992px) {

    h2 {
        font-size: 50px;
    }

    h3{
        font-size: 30px;
    }

    p{
        font-size: 14px;
        letter-spacing: 0.1em;
    }

    .content 
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .navbar-brand img{
        width: 70%;
    }

    .nav-right .navbar-nav .nav-item a{
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 14px;
    }

    .nav-left .navbar-nav .nav-item a{
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 14px;
    }

    .banner{
        margin-top: 10px;
    }

    .content{
        margin-top: 5px;
    }

    .imgbox img {
        width : 30%;
        margin-bottom: 5%;
    }

    .textbox h2{
        margin-bottom: 5%;
    }

    .textbox p{
        margin-bottom: 50px;
        color: #001;
    }

    .textbox-button{
        display: flex;
        justify-content: space-around;
    }

    .adjusment{
        display: none;
    }

    .adjustment-md{
        display: flex;
        flex-direction: column; 
        margin: 30px 0px;    
    }

    .input-group{
        margin : 5px 0px;
        background-color: #001;
        color: #F1EEE9;
        border-radius: 10px;
    }

    .input-group-text{
        background-color: #001;
        color: #F1EEE9;
    }

    .form-select{
        background-color:#F1EEE9 ;
        color: #001;
    }

    .bottle-input label{
        padding : 0px 40px;
    }

    .size-input label {
        padding: 0px 53px;
    }

    .shots-input label {
        padding : 0px 20px;
    }

    .contact{
        left: 90%;
    }

    .contact a img{
        width: 25px;
    }   
}